build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/BlackjackGame.sln
build/BlackjackGame.vcxproj
build/BlackjackGame.vcxproj.filters
build/BlackjackGame.vcxproj.user
build/cmake_install.cmake
build/CMakeCache.txt
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.vs/cmake.db
build/.vs/BlackjackGame/FileContentIndex/1d331b33-6f44-4438-86c3-4ec812b42a5d.vsidx
build/.vs/BlackjackGame/FileContentIndex/74e7f49c-bc77-4f9f-82e8-422cd86f051b.vsidx
build/.vs/BlackjackGame/FileContentIndex/2253343c-a019-45ce-9498-90e3720e911b.vsidx
build/.vs/BlackjackGame/FileContentIndex/c6ac6205-497b-4c51-aa91-3e739deb1056.vsidx
build/.vs/BlackjackGame/FileContentIndex/read.lock
build/.vs/BlackjackGame/v17/.suo
build/.vs/BlackjackGame/v17/Browse.VC.db
build/.vs/BlackjackGame/v17/fileList.bin
build/.vs/BlackjackGame/v17/Solution.VC.db
build/.vs/BlackjackGame/v17/ipch/AutoPCH/467929cf74a51535/TEXTRENDERER.ipch
build/.vs/BlackjackGame/v17/ipch/AutoPCH/4ac9449bb14502a4/MAIN.ipch
build/.vs/BlackjackGame/v17/ipch/AutoPCH/8a44ccd499d4bf24/SHADER.ipch
build/.vs/BlackjackGame/v17/ipch/AutoPCH/8ad4d65d30bfd61b/CARD.ipch
build/.vs/BlackjackGame/v17/ipch/AutoPCH/a0f51a43728cf143/GAME.ipch
build/.vs/BlackjackGame/v17/ipch/AutoPCH/e7e7df63982e0ee7/GLAD.ipch
build/.vs/BlackjackGame/v17/ipch/AutoPCH/f7b25baf95f063c/TEXTRENDERER.ipch
build/BlackjackGame.dir/Debug/BlackjackGame.Build.CppClean.log
build/BlackjackGame.dir/Debug/BlackjackGame.exe.recipe
build/BlackjackGame.dir/Debug/BlackjackGame.ilk
build/BlackjackGame.dir/Debug/BlackjackGame.log
build/BlackjackGame.dir/Debug/BlackjackGame.vcxproj.FileListAbsolute.txt
build/BlackjackGame.dir/Debug/Card.obj
build/BlackjackGame.dir/Debug/Game.obj
build/BlackjackGame.dir/Debug/glad.obj
build/BlackjackGame.dir/Debug/Main.obj
build/BlackjackGame.dir/Debug/Shader.obj
build/BlackjackGame.dir/Debug/TextRenderer.obj
build/BlackjackGame.dir/Debug/vc143.pdb
build/BlackjackGame.dir/Debug/BlackjackGame.tlog/BlackjackGame.lastbuildstate
build/BlackjackGame.dir/Debug/BlackjackGame.tlog/CL.command.1.tlog
build/BlackjackGame.dir/Debug/BlackjackGame.tlog/CL.read.1.tlog
build/BlackjackGame.dir/Debug/BlackjackGame.tlog/CL.write.1.tlog
build/BlackjackGame.dir/Debug/BlackjackGame.tlog/CustomBuild.command.1.tlog
build/BlackjackGame.dir/Debug/BlackjackGame.tlog/CustomBuild.read.1.tlog
build/BlackjackGame.dir/Debug/BlackjackGame.tlog/CustomBuild.write.1.tlog
build/BlackjackGame.dir/Debug/BlackjackGame.tlog/link.command.1.tlog
build/BlackjackGame.dir/Debug/BlackjackGame.tlog/link.read.1.tlog
build/BlackjackGame.dir/Debug/BlackjackGame.tlog/link.write.1.tlog
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.30.2/CMakeCCompiler.cmake
build/CMakeFiles/3.30.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.30.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.30.2/CMakeSystem.cmake
build/CMakeFiles/3.30.2/VCTargetsPath.txt
build/CMakeFiles/3.30.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.30.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.30.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.30.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.30.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.30.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.30.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.30.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.30.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/5b895bba168c2e9a471cf54150a0db13/generate.stamp.rule
build/Debug/BlackjackGame.exe
build/Debug/BlackjackGame.pdb
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.vscode/tasks.json
build/.cmake/api/v1/query/client-vscode/query.json
